.Goods_One {
	width: 100%;
	height: 457px;
	background: #f4f4f4;
	padding-top: 30px;
	box-sizing: border-box;
}
.Goods_Two {
	width: 100%;
	height: 457px;
	background: #fff;
}
.Goods_text_One_box {
	height: 408px;
	background: cadetblue;
	.Goods_text_nav_box {
		width: 100%;
		height: 30px;
		border-bottom: 1px solid #e7e7e7;
	}
}
