// 标题
.introduce-title {
  height: 40px;
  font-size: 18px;
  color: #333333;
  float: left;
  line-height: 40px;
}
// 查看更多
.more {
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  float: right;
  color: #39ba5e;
}
